body {
    background-color:rgb(241, 242, 243);
    font-family: 'Roboto', sans-serif;
    color: rgb(164, 138, 125);
    
}
/* Estilos de Header */
header {
    display: flex;
    align-items: center;
}
.nombre {
    display: flex;
    align-content: center;
    margin-left: 0%;
}
.imagen_perfil {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 0;
    
}
.Nombre_curriculum {
    
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    
}

/* Cuerpo de Curriculum */
.cuerpo {
    columns: 100px 2;
    margin: 90px;
}

.subtitulo {
    width: 150px;
    height: 50px;
    text-align: center;
    margin-inline: 10px;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(164, 138, 125);
}
.subtitulo1 {
    width: 270px;
    height: 70px;
    text-align: center;
    margin-inline: 10px;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(164, 138, 125);
}

.contenido {
   
}

/* Estilos de articulos */
ul {
    list-style: none;
    
}
